<!-- this page shows a spesific comic and its chapters -->
<!-- chapters should be in a drop down menu -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>This is the page for individual comics</p>
    <p>There should be a drop down list of comic chapters here</p>
</body>
</html>