<!-- this page will list all the comics available -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>User created: <%= locals.createdUser || "none"  %></p> 
    <p>List of all comics should be here</p>
</body>
</html>